.home_titlec {
    display: flex;
    justify-content: center;
    margin: 15px 0;
}
.home_list {
    position:absolute;
    border: 1px solid;
    width: 100px;
    height: 500px;
    border-radius: 10px;
}
.home_body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.home_body-bestfood {
    width: 700px;
    height: 300px;
    
    border: 1px none;
    position: relative;
    
}
.home_body-bestfood-img {
    height: 300px;
    width: 300px;
    border-radius: 20%;
    margin-left: 50px;
}
.home_body-bestfood-list {
    display: block;
    position: absolute;
    bottom: 0;
    justify-content: space-between;
    
}
.home_body-bestfood-list span {
    
}
.home_body-bestfood-info {
    border: black solid;
    height: 300px;
    width: 300px;
    display: inline-block;
}
.home_body-newfood {
    display: flex;
    justify-content: center;
    border: 1px solid;
}